body {
    font-family: 'Roboto', serif;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.textePrincipale {
    font-size: 24px;
    grid-column: 1 / span 3;
    width: 500px;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: thick double #000000;
}

.divCarte {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.inputNombre {
    max-width: 100px;
}

.checkbox {
    max-width: 20px;
}

.centrer {
    text-align: center;
}

.celluleTableau {
    margin-left: auto;
    margin-right: auto;
}

button.celluleTableau, .celluleTableau button {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 35px;
}

.titre {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: xxx-large;
}

.soustitre {
    text-align: center;
    font-size: xx-large;
}

.titreDeColonne {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.boiteConfiguration {
    border: solid #000000;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
}

#divListeDEnsembles {
    display: grid;
    grid-template-columns: 30px 1fr;
}

#paramètresConfiguration {
    display: grid;
    grid-template-columns: 320px 170px;
    row-gap: 10px;
    text-align: right;
    align-items: center;
}

#conteneurDeListeDEnsembles {
    grid-column: 1 / span 2;
    text-align: left;
    margin-left: 5px;
}

#éditeur_caractéristiques {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    text-align: right;
    row-gap: 10px;
}

label {
    padding-right: 10px;
}

#divÉditeurQuestions {
    display: grid;
    grid-template-columns: 1fr 150px 1fr 150px;
    row-gap: 10px;
}

.imagePrincipale {
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-width: 480px;
    max-height: 230px;
}

.hidden {
    display: none;
}
